{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>О компании</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>ОАО АК&nbsp;&laquo;АЛРОСА&raquo;</h2>
            <p>Открытое акционерное общество АК&nbsp;&laquo;АЛРОСА&raquo;&nbsp;&mdash; российская государственная горнорудная компания, лидер мировой алмазодобывающей отрасли.</p>
            <p>АК&nbsp;&laquo;АЛРОСА&raquo; создана в&nbsp;соответствии с&nbsp;Указом Президента Российской Федерации &laquo;Об&nbsp;образовании акционерной компании &laquo;Алмазы России&nbsp;&mdash; Саха&raquo; от&nbsp;19&nbsp;февраля 1992&nbsp;г. &#8470;&nbsp;158С.</p>
            <h3>Рыночные позиции:</h3>
            <ul>
                <li>АЛРОСА занимает первое место в&nbsp;мире по&nbsp;объемам добычи алмазов в&nbsp;каратах, её&nbsp;доля в&nbsp;мировой добыче по&nbsp;данным на&nbsp;2014 год составляет более&nbsp;25% (в&nbsp;2002&nbsp;г. &mdash;&nbsp;18%).</li>
                <li>АЛРОСА добывает&nbsp;97% всех алмазов Российской Федерации.</li>
            </ul>
            <h3>Производство:</h3>
            <ul>
                <li>В 2014 году предприятия Группы АЛРОСА добыли 36,2 млн карат алмазов.</li>
                <li>АЛРОСА ведет добычу в Республике Саха (Якутия) и Архангельской области, разрабатывая 11 кимберлитовых трубок и 13 россыпных месторождений.</li>
                <li>Стратегия развития АЛРОСА предусматривает концентрацию на профильном бизнесе и рост добычи алмазного сырья до более 41 млн карат к 2019 году. Рост добычи будет обеспечен за счет действующих месторождений, а также благодаря вводу в эксплуатацию новых проектов.</li>
                <li>Технологическая база производства компании основана на лучших мировых достижениях науки и техники и уникальном техническом опыте работы в суровых климатических условиях севера России.</li>
            </ul>
            <h3>Ресурсная база:</h3>
            <ul>
                <li>Доказанные и вероятные запасы АЛРОСА превышают 600 млн карат – этот объем достаточен для поддержания текущего уровня добычи в течение 17 лет. Общая же ресурсная база компании составляет около 1 млрд карат.</li>
                <li>Алмазы ювелирного и околоювелирного качества составляют около 65% добычи по объемам и более 95% по стоимости.</li>
                <li>АЛРОСА имеет собственный современный геологоразведочный комплекс, обеспечивающий поддержание и наращивание объема ресурсной базы. Компания также ведет геологоразведочные работы в странах Африки</li>
            </ul>
            <h3>Реализация продукции:</h3>
            <ul>
                <li>Выручка АЛРОСА от продажи алмазов и бриллиантов в 2014 году впервые в истории компании превысила $5 млрд.</li>
                <li>Объем продаж алмазного сырья в 2014 году составил 39,6 млн карат, в том числе 27,7 млн карат алмазов ювелирного качества.</li>
                <li>Сбытовая система АЛРОСА базируется на заключении долгосрочных контрактов с компаниями - производителями бриллиантов и ювелирных изделий. На долю таких контрактов приходится порядка 70% продаж компании.</li>
                <li>Основной принцип торговой политики АЛРОСА – обеспечение равных условий доступа к алмазному сырью для всех клиентов.</li>
                <li>Торговые офисы АЛРОСА расположены в основных мировых центрах торговли алмазами: в Антверпене, Рамат Гане, Дубае, Гонконге, Нью-Йорке, Лондоне.</li>
                <li>АЛРОСА считает важным сотрудничество с отраслевыми организациями для налаживания информационного обмена и повышения прозрачности отрасли. Компания заключила соответствующие Меморандумы о взаимопонимании с Антверпенским международным алмазным центром (AWDC), Советом по содействию экспорту драгоценных камней и ювелирных изделий Индии (GJEPC), алмазными биржами Дубая и Израиля (DDE и IDE), Клубом алмазных дилеров Нью-Йорка (DDC)</li>
            </ul>
            <h2>УДАЧНИНСКИЙ ГОК</h2>
            <p>Удачнинский горно-обогатительный комбинат&nbsp;&mdash; структурное подразделение АК&nbsp;&laquo;АЛРОСА&raquo;, основным видом деятельности, которого является добыча алмазов</p>
            <p>Удачнинский ГОК состоит из следующих основных цехов:</p>
            <ul>
                <li>карьер &laquo;Удачный&raquo;;</li>
                <li>обогатительная фабрика № 12;</li>
                <li>цех хвостового хозяйства;</li>
                <li>автобаза технологического транспорта № 3;</li>
                <li>Удачнинский ремонтно-строительный цех УРСЦ;</li>
                <li>подземный рудник &laquo;Удачный&raquo;;</li>
            </ul>
            <p>Основной карьер комбината&nbsp;&mdash; является &laquo;Удачный&raquo;, который в&nbsp;течение последних 25&nbsp;лет комбинат является ведущим предприятием алмазодобывающей отрасли России и&nbsp;одним из&nbsp;крупнейших открытых карьеров в&nbsp;мире, на&nbsp;долю которого приходится самый большой объем добычи алмазов &laquo;АЛРОСА&raquo;.</p>
            <p>Руда добывается буровзрывным способом, грузится экскаваторами и&nbsp;погрузчиками, доставляется автомобильным транспортом на&nbsp;фабрику &#8470;&nbsp;12. Отработка крутопадающего рудного тела осуществляется с&nbsp;применением кольцевой системы разработки с&nbsp;развитием горных работ от&nbsp;центра к&nbsp;периферии. В&nbsp;рабочей зоне горизонты вскрываются временными съездами.</p>
            <p>Проектная глубина карьера — 630 м.</p>
            <p>Ввод второго этапа 1 пускового комплекса — в 2014. В 2015 намечен запуск второго пускового комплекса.</p>
            <p>Подземный рудник &laquo;Удачный&raquo; станет одним из&nbsp;крупнейших в&nbsp;мире&nbsp;&mdash; его итоговая производительность составит 4&nbsp;миллиона тонн руды в&nbsp;год. Сооружение рудника началось в&nbsp;2004&nbsp;году. В&nbsp;2016 году рудник, по&nbsp;одному из&nbsp;проектов, должен выйти на&nbsp;проектную производительность.</p>
            <p>Планируемый объем добычи руды подземным способом:</p>
            <ul>
                <li>2012 25000 tons</li>
                <li>2013 100000 tons</li>
                <li>2014 1300000 tons</li>
                <li>2015 2400000 tons</li>
                <li>2016 4000000 tons</li>
            </ul>
            <p>Проектный объём ежегодной обработки руды на&nbsp;фабрике &#8470;&nbsp;12&nbsp;составляет 11&nbsp;млн тонн, это самая производительная фабрика в&nbsp;АК&nbsp;&laquo;АЛРОСА&raquo;.</p>
            <p>&laquo;АЛРОСА&raquo; уделяет серьезное внимание проблемам нейтрализации экологического воздействия горного производства на&nbsp;природу севера Якутии. Высокоминерализованные воды карьера &laquo;Удачный&raquo; представляют серьезную угрозу для животного и&nbsp;растительного мира прилегающих районов, в&nbsp;результате чего сброс этих рассолов в&nbsp;речную сеть или на&nbsp;поверхность невозможен. На&nbsp;Удачнинском ГОКе успешно эксплуатируется система подземного складирования рассолов в&nbsp;геологические разломы многолетнемерзлых пород.</p>
            <div style="text-align: center;">
                <img src="{{ asset('img/about.png') }}" alt="schema" />
            </div>
        </div>
    </div>
{% endblock %}