{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Контакты</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>УДАЧНИНСКИЙ ГОРНО-ОБОГАТИТЕЛЬНЫЙ КОМБИНАТ</h2>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Адрес</strong></td>
                        <td>678188, Республика Саха (Якутия),
                            г. Удачный, Новый город
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Телефон</strong></td>
                        <td>+7 (41136) 5-52-25</td>
                    </tr>
                    <tr>
                        <td><strong>Факс</strong></td>
                        <td>+7 (41136) 5-15-62</td>
                    </tr>
                    <tr>
                        <td><strong>Эл. почта</strong></td>
                        <td><a href="mailto:ugok@alrosa.ru">ugok@alrosa.ru</a></td>
                    </tr>
                </tbody>
            </table>
            <h2>Обратная связь</h2>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        {% if success is defined %}
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Успешно</h3>
                                </div>
                                <div class="panel-body">
                                    Ваше сообщение успешно отправлено
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
                            {{ form_errors(form) }}

                            <div class="form-group">
                                {{ form_errors(form.name) }}
                                {{ form_label(form.name, 'Ваше имя') }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_errors(form.email) }}
                                {{ form_label(form.email, 'E-mail') }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.phone) }}
                                {{ form_label(form.phone, 'Телефон') }}
                                {{ form_widget(form.phone, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.question) }}
                                {{ form_label(form.question, 'Вопрос') }}
                                {{ form_widget(form.question, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.sbn, {'attr': {'class': 'btn btn-primary'}, 'label': 'Отправить'}) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}