{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Продукция</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <p>
                <strong>
                    Основной продукцией группы АЛРОСА являются природные алмазы&nbsp;&mdash; уникальные по&nbsp;характеристикам драгоценные
                    камни, которые служат исходным материалом для изготовления бриллиантов. Алмазная продукция, производимая нашими предприятиями, неизменно
                    пользуется высочайшим спросом, как у&nbsp;отечественных, так и&nbsp;у&nbsp;зарубежных производителей бриллиантов и&nbsp;ювелиров.
                </strong>
            </p>
            <p>Выявленные и&nbsp;разведанные запасы природных алмазов на&nbsp;располагаемых группой АЛРОСА месторождениях характеризуются высоким качеством и&nbsp;значительными объемами.</p>
            <p>На&nbsp;протяжении всего периода своего существования алмазы и&nbsp;изделия из&nbsp;них являются предметами роскоши, престижа и&nbsp;символом социального благополучия. При этом тема &laquo;конфликтных&raquo; минералов и&nbsp;обеспечение прозрачности в&nbsp;цепочках поставок сырья и&nbsp;материалов для производства драгоценных камней и&nbsp;ювелирных изделий сегодня продолжает оставаться актуальной.</p>
            <p>Алмазная продукция становится товаром после первичной сортировки и&nbsp;предпродажной подготовки. Одной из&nbsp;наиболее уникальных товарных особенностей алмазов и&nbsp;бриллиантов является невозможность определения качества товара потребителями, не&nbsp;обладающими большим опытом и&nbsp;объемом специальных знаний в&nbsp;области геммологии или ювелирного производства. Таким образом, ключевым фактором, влияющим на&nbsp;решение о&nbsp;покупке, является репутация и&nbsp;ответственная деловая практика продавца товара, в&nbsp;том числе <i>прозрачность всей цепочки поставок алмазно-бриллиантовой продукции</i> и&nbsp;достоверность сведений, содержащихся в&nbsp;сопроводительных документах купли-продажи.</p>
            <div>
                <p>Группа АЛРОСА, как ведущий мировой производитель и&nbsp;продавец алмазной продукции, выступает гарантом:</p>
                <ul>
                    <li>законности добычи предлагаемого алмазного сырья в полном соответствии с национальным законодательством и международными обязательствами Российской Федерации, в том числе с положениями Схемы сертификации Кимберлийского процесса;</li>
                    <li>подлинности природных алмазов и бриллиантов, подтверждённой соответствующими документами;</li>
                    <li>добросовестности в реализации торговых соглашений.</li>
                </ul>
            </div>
            <div style="text-align: center; padding: 5%;">
                <img src="{{ asset('img/products/img1.png')}}" alt="picture"  />
            </div>
            <h2>Продукция группы АЛРОСА</h2>
            <table class="table table-striped table-hover ">
                <thead>
                <tr>
                    <th colspan="2" style="text-align: center;">АЛМАЗЫ</th>
                    <th colspan="1" style="text-align: center;">БРИЛЛИАНТЫ</th>
                </tr>
                <tr>
                    <th style="text-align: center;">Алмазы ювелирного качества</th>
                    <th style="text-align: center;">Технические алмазы</th>
                    <th style="text-align: center;">Бриллианты</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <p>
                            Около 95% добытого нами алмазного сырья составляют алмазы ювелирного и околоювелирного качества.
                            Алмазы, добываемые предприятиями группы АЛРОСА, занимают важное место в структуре мирового отраслевого рынка,
                            прежде всего, благодаря своему высокому качеству, обеспечиваемому чистотой камней, высокой долей кристаллов
                            правильной формы, дающих технологические преимущества при изготовлении бриллиантов идеальных пропорций,
                            уникальным морфологическим свойствам, позволяющим снизить технологические издержки и увеличить скорость
                            шлифовки и огранки камней
                        </p>
                    </td>
                    <td>
                        <p>
                            Группа АЛРОСА является традиционным и крупнейшим поставщиком технических алмазов природного происхождения на
                            российский и зарубежный рынок.
                            Природные технические алмазы используются как для изготовления инструментов, камнеобработки, обработки металлов,
                            медицины, так и для изготовления бриллиантов (в том числе для часовой промышленности) и изготовления сувенирной
                            продукции.
                            Компания  также производит порошки из природных алмазов от 1000 мкм до 40/0 мкм.

                        </p>
                    </td>
                    <td><p>
                            Мы&nbsp;производим бриллианты высочайшего качества на&nbsp;собственном гранильном предприятии: филиал &laquo;Бриллианты АЛРОСА&raquo; изготавливает бриллиантовую продукцию любых форм огранки и&nbsp;размеров и&nbsp;занимается их&nbsp;реализацией на&nbsp;внутреннем и&nbsp;внешнем рынках. Основным профилем деятельности компании &laquo;Бриллианты АЛРОСА&raquo; является широкий спектр качественных характеристик, размеров и&nbsp;форм, производство бриллиантов &laquo;русской&raquo; огранки, которые исторически занимают на&nbsp;мировом бриллиантовом рынке особую нишу как товар очень высокого качества.
                        </p></td>
                </tr>
                </tbody>
             </table>
            <h2>Образцы продукции Удачнинского ГОКА</h2>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/1.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">&laquo;35&nbsp;ЛЕТ ФАБРИКЕ &#8470;&nbsp;12&raquo; 136.35 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/2.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">158.58 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/3.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">232.76 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/4.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">301.55 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/5.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">350.54 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/6.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">57.72 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/7.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">53.78 карат</p>
            </div>
            <div style="text-align: center;">
                <img src="{{ asset('img/products/8.jpg') }}" alt="image" />
                <p style="margin-top: 20px; font-weight:bold;">50.37 карат</p>
            </div>

        </div>
    </div>
{% endblock %}