{% extends "base.html.twig" %}

{% block title %}
    An Error Occurred: {{ status_text }}
{% endblock %}
{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ status_text }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="error-page-wrapper">
                        <p>{{ status_text }}</p>
                        <p>Попробуйте перейти на <a href="{{ path('homepage') }}">главную страницу</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}