{% extends 'base_admin.html.twig' %}

{% block content %}
    <style>
        td.middle
        {
            vertical-align: middle!important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('a').click(function(e)
            {
                var clicked_id = $(this).attr('id');
                var a_element = $(this);
                var element = $(this).find("i");
                if (element.is(".fa-lock"))
                {

                    var path = "{{ path( 'administration_users_unlock', { 'id': 'uid' }) }}";
                    path = path.replace('uid', clicked_id)
                    $.ajax(path).done(function() {
                        element.removeClass('fa-lock').addClass('fa-unlock');
                    });
                }
                else
                {
                    var path = "{{ path( 'administration_users_lock', { 'id': 'uid' }) }}";
                    path = path.replace('uid', clicked_id)
                    $.ajax(path).done(function() {
                        element.removeClass('fa-unlock').addClass('fa-lock');
                    });
                }
            });
        });
    </script>
    <h1 class="page-header">Список пользователей</h1>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>E-Mail</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Цех</th>
            <th>Должность</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    {% if user.activationcode == null %}
                        <td class="middle success">{{ user.email }}</td>
                    {% else %}
                        <td class="middle warning">{{ user.email }}</td>
                    {% endif %}
                    <td class="middle">{{ user.lastname }}</td>
                    <td class="middle">{{ user.firstname }}</td>
                    <td class="middle">{{ user.middlename }}</td>
                    <td class="middle">{{ user.department.name }}</td>
                    <td class="middle">{{ user.position }}</td>
                    <td class="middle">
                        {% if user.blocked == true %}
                            <a id="{{ user.id }}" href="javascript:void(0);">
                                <i class="fa fa-lock"></i>
                            </a>
                        {% else %}
                            <a id="{{ user.id }}" href="javascript:void(0);">
                                <i class="fa fa-unlock"></i>
                            </a>
                        {% endif %}
                        <br />
                        <a><i class="fa fa-times"></i> </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}