{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Заявки</h1>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Цех</th>
            <th>Должность</th>
            <th>Дата создания заявки</th>
            <th>Наименование документа</th>
            <th>Количество копий</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for item in tickets %}
            {% if item.orderType.id == 1 %}
            <tr>
                <td>{{ item.account.lastname }} {{ item.account.firstname }} {{ item.account.middlename }}</td>
                <td>{{ item.account.department.name }}</td>
                <td>{{ item.account.position }}</td>
                <td>{{ item.creationdate|date('d.m.Y H:i:s') }}</td>
                <td>N/A</td>
                <td>N/A</td>
                <td><a>{{ item.status.name }}</a></td>
            </tr>
            {% else %}
                <tr>
                    <td>{{ item.account.lastname }} {{ item.account.firstname }} {{ item.account.middlename }}</td>
                    <td>{{ item.account.department.name }}</td>
                    <td>{{ item.account.position }}</td>
                    <td>{{ item.creationdate|date('d.m.Y H:i:s') }}</td>

                    {% for OD in item.orderdocument %}
                    <td>{{ OD.document.name }}</td>
                    <td>{{ OD.amount }}</td>
                    {% endfor %}
                    <td><a href="#">{{ item.status.name }}</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}