{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Добавление новости</h1>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="">
                    {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_errors(form.title) }}
                        {{ form_label(form.title, 'Заголовок') }}
                        {{ form_widget(form.title, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.text) }}
                        {{ form_label(form.text, 'Текст новости') }}
                        {{ form_widget(form.text, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary'}, 'label': 'Добавить'}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}