<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    {% block stylesheets %}
    {% endblock %}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('administration_index') }}">Администрирование</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage') }}">Вернуться на сайт</a></li>
                <li><a href="{{ path('logout') }}">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% if  app.request.pathinfo == path('administration_index') %}
                    <li class="active">
                        <a href="{{ path('administration_index') }}">Заявки <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('administration_index') }}">Заявки <span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                {% if  app.request.pathinfo == path('administration_users_index') %}
                    <li class="active"><a href="{{ path('administration_users_index') }}">Пользователи</a></li>
                {% else %}
                    <li><a href="{{ path('administration_users_index') }}">Пользователи</a></li>
                {% endif %}
            </ul>
            <ul class="nav nav-sidebar">
                {% if  app.request.pathinfo == path('administration_news_index') %}
                    <li class="active"><a href="{{ path('administration_news_index') }}">Новости</a></li>
                {% else %}
                    <li><a href="{{ path('administration_news_index') }}">Новости</a></li>
                {% endif %}
                {% if  app.request.pathinfo == path('administration_vacancies_index') %}
                    <li class="active"><a href="{{ path('administration_vacancies_index') }}">Вакансии</a></li>
                {% else %}
                    <li><a href="{{ path('administration_vacancies_index') }}">Вакансии</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/holder.js') }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{% endblock %}
</body>
</html>
