<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/icomoon-social.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/timeline.css') }}" />
            <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{ asset('css/leaflet.ie.css') }}" />
            <![endif]-->
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% block header %}
            {% embed "header.html.twig" %}{% endembed %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
            {% embed "footer.html.twig" %}{% endembed %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.9.1.min.js"><\/script>') }}')</script>
                <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
            <script src="{{ asset('js/jquery.fitvids.js') }}"></script>
            <script src="{{ asset('js/jquery.sequence-min.js') }}"></script>
            <script src="{{ asset('js/jquery.bxslider.js') }}"></script>
            <script src="{{ asset('js/main-menu.js') }}"></script>
            <script src="{{ asset('js/template.js') }}"></script>
        {% endblock %}
    </body>
</html>
