<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">

            </div>
            <div class="col-footer col-md-3 col-xs-6">
                <h3>Навигация</h3>
                <ul class="no-list-style footer-navigate-section">
                    <li><a href="{{ path('homepage') }}">Главная</a></li>
                    <li><a href="{{ path('products_index') }}">Продукция</a></li>
                    <li><a href="{{ path('department_index') }}">Цеха</a></li>
                    <li><a href="{{ path('news') }}">Новости</a></li>
                    <li><a href="{{ path('about') }}">О нас</a></li>
                </ul>
            </div>

            <div class="col-footer col-md-4 col-xs-6">
                <h3>Контакты</h3>
                <p class="contact-us-details">
                    <b>Адрес:</b> 678188, Республика Саха (Якутия),
                    г. Удачный, Новый город
                    <br/>
                    <b>Телефон:</b> +7 (41136) 5-52-25<br/>
                    <b>Факс:</b> +7 (41136) 5-15-62<br/>
                    <b>Email:</b> <a href="mailto:ugok@alrosa.ru">ugok@alrosa.ru</a> <br />
                    <b><a href="{{ path('contacts') }}">Подробнее</a></b>

                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2015. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>