<div class="mainmenu-wrapper">
    <div class="container">

            <div class="menuextras">
                <div class="extras">
                    <ul>
                        {% block menuextras %}
                            {% if status_text is defined %}
                                <li><a href="{{ path('login') }}">Войти</a></li>
                                <li><a href="{{ path('account_registration') }}">Зарегистрироваться</a></li>
                            {% else %}
                                {% if is_granted('ROLE_USER') %}
                                    <li><a href="{{ path('logout') }}">Выйти</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('administration_index') }}">Администрирование</a></li>
                                {% endif %}
                                {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                                     <li><a href="{{ path('login') }}">Войти</a></li>
                                     <li><a href="{{ path('account_registration') }}">Зарегистрироваться</a></li>
                                {% endif %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </div>
            </div>

        {% embed "menu.html.twig" %}
        {% endembed %}
    </div>
</div>