<nav id="mainmenu" class="mainmenu">
    <ul>
        {% if  app.request.pathinfo == path('homepage') %}
            <li class="active"><a href="{{ path('homepage') }}">Главная</a></li>
        {% else %}
            <li class=""><a href="{{ path('homepage') }}">Главная</a></li>
        {% endif %}
        {% if  app.request.pathinfo == path('products_index') %}
        <li class="active">
            <a href="{{ path('products_index') }}">Продукция</a>
        </li>
        {% else %}
        <li>
            <a href="{{ path('products_index') }}">Продукция</a>
        </li>
        {% endif %}
        {% if  app.request.pathinfo == path('department_index') %}
        <li class="active">
            <a href="{{ path('department_index') }}">Цеха</a>
        </li>
        {% else %}
        <li>
            <a href="{{ path('department_index') }}">Цеха</a>
        </li>
        {% endif %}
        {% if  app.request.pathinfo == path('news') %}
            <li class="active">
                <a href="{{ path('news') }}">Новости</a>
            </li>
        {% else %}
            <li class="">
                <a href="{{ path('news') }}">Новости</a>
            </li>
        {% endif %}
        {% if status_text is not defined %}
            {% if is_granted('ROLE_USER') %}
                {% if  app.request.pathinfo == path('service') %}
                    <li class="active">
                        <a href="{{ path('service') }}">Услуги</a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{{ path('service') }}">Услуги</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
        <li class="has-submenu">
            <a href="#">О нас</a>
            <div class="mainmenu-submenu">
                <div class="mainmenu-submenu-inner">
                    <div>
                        <h4>О нас</h4>
                        <ul>
                            <li><a href="{{ path('about') }}">О компании</a></li>
                            <li><a href="{{ path('vacancy_list') }}">Вакансии</a></li>
                            <li><a href="{{ path('contacts') }}">Контакты</a></li>
                        </ul>
                    </div>
                </div><!-- /mainmenu-submenu-inner -->
            </div><!-- /mainmenu-submenu -->
        </li>
    </ul>
</nav>