{% extends 'base.html.twig' %}

{% block content %}
    <!-- Homepage Slider -->
    <div class="homepage-slider">
        <div id="sequence">
            <ul class="sequence-canvas">
                <!-- Slide 1 -->
                <li class="bg4">
                    <!-- Slide Title -->
                    <h2 class="title">ОАО АК &laquo;АЛРОСА&raquo;</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">Лидер алмазодобывающей отрасли мира, российская государственная горнорудная компания,
                        нацеленная на комплексное решение приоритетных национальных задач по освоению природных ресурсов</h3>
                </li>
                <!-- End Slide 1 -->
                <!-- Slide 2 -->
                <li class="bg3">
                    <!-- Slide Title -->
                    <h2 class="title">АЛРОСА</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">
                        <ul>
                            <li>Добывает 97% всех алмазов России</li>
                            <li>Доля в мировой добыче около 30%</li>
                            <li>Ресурсная база составляет 1 млрд карат</li>
                            <li>Запасы составляют 600 млн карат</li>
                        </ul>
                    </h3>
                </li>
                <!-- End Slide 2 -->
                <!-- Slide 3 -->
                <li class="bg1">
                    <!-- Slide Title -->
                    <h2 class="title">Удачнинский ГОК</h2>
                    <!-- Slide Text -->
                    <h3 class="subtitle">
                        <ul>
                            <li>Структурное подразделение ОАО АК &laquo;АЛРОСА&raquo;</li>
                            <li>Градообразующее предприятие города Удачный</li>
                            <li>Зона деятельности на месторождениях  &laquo;Удачная&raquo; и &laquo;Зарница&raquo;</li>
                        </ul>
                    </h3>
                </li>
                <!-- End Slide 3 -->
            </ul>
            <div class="sequence-pagination-wrapper">
                <ul class="sequence-pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Homepage Slider -->
    <!-- timeline -->
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">1954-1966</h4>

                </div>
                <div class="timeline-body">
                    <p>В&nbsp;Якутии первые целенаправленные поиски алмазов начались в&nbsp;1948&nbsp;г. Первый алмаз в&nbsp;Якутии был найден на&nbsp;реке Вилюй (коса Соколиная) 7&nbsp;августа 1949&nbsp;г. В&nbsp;1950&nbsp;г. россыпи алмазов были обнаружены на&nbsp;реке Марха. Успешное применение метода поиска коренных месторождений алмазов по&nbsp;минералам-спутникам Л.А. Попугаевой привел к&nbsp;тому, что 21&nbsp;августа 1954&nbsp;г она открыла в&nbsp;бассейне реки Далдын первое коренное месторождение алмазов в&nbsp;СССР&nbsp;&mdash; кимберлитовую трубку &laquo;Зарница&raquo;. 15&nbsp;июня 1955 года отрядом Амакинской экспедиции во&nbsp;главе с&nbsp;молодым геологом В.Н. Щукиным в&nbsp;бассейне реки Далдын было открыто еще одно коренное месторождение алмазов&nbsp;&mdash; трубка &laquo;Удачная&raquo;.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">1967-1970</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Начало промышленного освоения месторождения алмазов
                        на&nbsp;трубке &laquo;Удачная&raquo; в&nbsp;1967&nbsp;г. 30&nbsp;января
                        1967 началось строительство обогатительной фабрики &#8470;&nbsp;11.
                        Начало освоения трубки &laquo;Удачная&raquo; в&nbsp;1967&nbsp;г. силами рудника &laquo;Айхал&raquo;
                        позволило уже в&nbsp;конце лета того&nbsp;же года запустить сезонную обогатительную фабрику &#8470;&nbsp;11&nbsp;и&nbsp;создать
                        здесь необходимые условия для организации алмазодобывающего производства. Становление прииска Удачный произошло 30&nbsp;декабря
                        1968&nbsp;г. Указом Президиума Верховного Совета Якутской Автономной Советской
                        Социалистической республики населенный пункт Удачный Мирнинского района получил статус рабочего поселка.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">

                    <h4 class="timeline-title">1971-1975</h4>

                </div>
                <div class="timeline-body">
                    <p>
                        В&nbsp;1969 началось строительство ГОКа Удачный, куда прибыл отряд строителей, которому предстояло заложить базу будущего ГОКа. В&nbsp;1971&nbsp;г. началось строительство обогатительной фабрики &#8470;&nbsp;12, водохранилища на&nbsp;реке Сытыкан, Нового города. Непосредственные работы на&nbsp;сооружении первой очереди фабрики &#8470;&nbsp;12&nbsp;начались только полтора года спустя. Дело в&nbsp;том, что проектировщики затянули выполнение порученного им&nbsp;задания, и&nbsp;технический проект Удачнинского ГОКа был утвержден на&nbsp;заседании Совета Министров СССР только 3&nbsp;декабря 1971&nbsp;г. 9&nbsp;сентября 1975&nbsp;г. А.А. Козеевым был подписан приказ &#8470;&nbsp;438&nbsp;о ликвидации прииска &laquo;Удачный&raquo; и&nbsp;переезде аппарата управления рудника &laquo;Айхал&raquo; в&nbsp;Удачный, которое растянулось на&nbsp;целый год.
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">

                    <h4 class="timeline-title">1976-1985</h4>

                </div>
                <div class="timeline-body">
                    <p>Ввод в&nbsp;эксплуатацию обогатительной фабрики &#8470;&nbsp;12&nbsp;состоялся спустя полгода 30
                        &nbsp;сентября 1976 года государственной комиссией, после первой комплексной апробации 18&nbsp;
                        февраля 1976&nbsp;года. Летом 1976&nbsp;г в&nbsp;Удачный переехала группа руководителей рудника &laquo;Айхал&raquo;, перед которыми была поставлена задача в&nbsp;сжатые сроки ввести в&nbsp;Приполярье в&nbsp;промышленную эксплуатацию новый алмазодобывающий комплекс. Уже тогда многие знали, что будущее алмазного края&nbsp;&mdash; за&nbsp;ГОКом &laquo;Удачный&raquo;, поэтому было принято решение не&nbsp;дожидаться окончательного запуска нового комбината, переименовать рудник &laquo;Айхал&raquo; в&nbsp;рудник &laquo;Удачный&raquo;. Соответствующий приказ об&nbsp;этом был подписан министром цветной металлургии СССР 31&nbsp;декабря 1976&nbsp;г. 16&nbsp;февраля 1979&nbsp;г. приказом министра цветной металлургии СССР рудник &laquo;Удачный&raquo; был реорганизован в&nbsp;Удачнинский ГОК на&nbsp;правах производственной единицы объединения &laquo;Якуталмаз&raquo;. Первым директором Удачнинского ГОКа был утвержден А.А. Козеев. К&nbsp;середине 80-х гг. прошлого века Удачнинский ГОК, можно сказать, крепко встал на&nbsp;ноги. Здесь сформировался
                        мощный и&nbsp;сильный трудовой коллектив, а&nbsp;сам ГОК стал флагманом алмазодобывающей промышленности Советского Союза.</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">

                    <h4 class="timeline-title">1986-1991</h4>

                </div>
                <div class="timeline-body">
                    <p>18&nbsp;сентября 1987&nbsp;г. Указом Президиума Верховного Совета РСФСР поселку Удачный был присвоен статус города районного подчинения. На&nbsp;момент получения статуса города в&nbsp;Удачном проживало 21700&nbsp;человек, из&nbsp;них 13100&nbsp;работающих. Самым крупным предприятием города был и&nbsp;остается сейчас Удачнинский ГОК. В&nbsp;начале 90-х гг&nbsp;произошло снижение качественных показателей работы Удачнинского ГОКа, которые было связано и&nbsp;с&nbsp;ухудшением горно-геологических условий в&nbsp;карьере &laquo;Удачный&raquo;. В&nbsp;те&nbsp;же годы в&nbsp;Удачнинском ГОКе стали проводиться определенные мероприятия по&nbsp;улучшению экологической обстановки в&nbsp;регионе. В&nbsp;1982&nbsp;г. на&nbsp;комбинате была создана комплексная лаборатория для лабораторного контроля состояния природы и&nbsp;охраны окружающей среды. С&nbsp;1986&nbsp;г. в&nbsp;Удачнинском ГОКе, согласно новым веяниям, стала внедряться коллективная форма организации производства и&nbsp;уже к&nbsp;началу 1987&nbsp;г. низовым хозрасчетом было охвачено более&nbsp;85% рабочих. В&nbsp;конце 80-х Удачнинский ГОК, согласно социальной политике ПНО &laquo;Якуталмаз&raquo;, приступил к&nbsp;строительству жилья для своих работников за&nbsp;пределами Якутии. В&nbsp;1990&nbsp;г. впервые было организовано обследование работников Удачнинского ГОКа в&nbsp;клиниках&nbsp;г. Новосибирска (ИКЭМ) и&nbsp;г. Москвы (горбольница &#8470;&nbsp;7), республиканской больнице&nbsp;г. Якутска, а&nbsp;также в&nbsp;Иркутске и&nbsp;Красноярске. В&nbsp;1991 году Удачнинскому ГОКу была предоставлена возможность использовать часть полученной прибыли на&nbsp;социальные нужды, что позволило руководству активно использовать новые формы мотивации к&nbsp;труду, заняться актуальной для всех северян проблемой переселения пенсионеров и&nbsp;ветеранов на&nbsp;&laquo;материк&raquo;.</p>
                </div>
            </div>
        </li>
    </ul>
    <!-- End timeline -->
    <!-- Test -->
{% endblock %}
