{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Войти</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    {% if error %}
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ошибка</h3>
                            </div>
                            <div class="panel-body">
                                {{ error.message|trans({},'messages') }}
                            </div>
                        </div>

                    {% endif %}
                    <div class="basic-login">
                        <form role="form" role="form" action="{{ path('login_check') }}" method="post">
                            <div class="form-group">
                                <label for="login-username"><i class="icon-user"></i> <b>Email</b></label>
                                <input class="form-control" name="_username" id="login-username" type="text" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="login-password"><i class="icon-lock"></i> <b>Пароль</b></label>
                                <input class="form-control" name="_password" id="login-password" type="password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="checkbox">
                                    <input type="checkbox" name="_remember_me"> Запомнить меня
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-7 social-login">
                    <div class="clearfix"></div>
                    <div class="not-member">
                        <p>Еще не зарегистрированы? <a href="{{ path('account_registration') }}">Регистрация здесь</a></p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}