{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet" />
{% endblock %}
{% block login %}
    {% if is_granted('ROLE_USER') %}
        {% include 'logined_widget.html.twig' %}
    {% else %}
        {% include 'login_widget.html.twig' %}
    {% endif %}

{% endblock %}

{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 10px;">
        <div class="row">
            <p>Для восстановления доступа к аккаунту введите ваш e-mail</p>
            {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
            {{ form_errors(form) }}

            <fieldset>
                <div class="form-group">
                    {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    <div class="col-md-10">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control input-md'}}) }}
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Отправить'}) }}
                    </div>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}