{% extends '::base.html.twig' %}
{% block login %}
    {% if is_granted('ROLE_USER') %}
        {% include 'logined_widget.html.twig' %}
    {% else %}
        {% include 'login_widget.html.twig' %}
    {% endif %}

{% endblock %}
{% block title %}
    Восстановление пароля
{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 10px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Информация</h3>
            </div>
            <div class="panel-body">
                {{ message }}. <a href="{{ path('login') }}">Войти</a>
            </div>
        </div>
    </div>
{% endblock %}

