{% extends 'base.html.twig' %}


{% block content %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Регистрация</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="basic-login">
                    {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_errors(form.account.email) }}
                        {{ form_label(form.account.email, 'E-mail') }} <i class="icon-user"></i>
                        {{ form_widget(form.account.email, {'attr': {'class': 'form-control input-md', 'id':'register-username'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.account.password.password) }}
                        {{ form_label(form.account.password.password, 'Пароль') }} <i class="icon-lock"></i>
                        {{ form_widget(form.account.password.password, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.account.password.confirm) }}
                        {{ form_label(form.account.password.confirm, 'Подтверждение пароля') }} <i class="icon-lock"></i>
                        {{ form_widget(form.account.password.confirm, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.account.date_birth) }}
                        {{ form_label(form.account.date_birth, 'Дата рождения') }}
                        {{ form_widget(form.account.date_birth, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.position) }}
                        {{ form_label(form.account.position, 'Должность') }}
                        {{ form_widget(form.account.position, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.department) }}
                        {{ form_label(form.account.department, 'Цех') }}
                        {{ form_widget(form.account.department, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.last_name) }}
                        {{ form_label(form.account.last_name, 'Фамилия') }}
                        {{ form_widget(form.account.last_name, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.first_name) }}
                        {{ form_label(form.account.first_name, 'Имя') }}
                        {{ form_widget(form.account.first_name, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.middle_name) }}
                        {{ form_label(form.account.middle_name, 'Отчество') }}
                        {{ form_widget(form.account.middle_name, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.account.phone) }}
                        {{ form_label(form.account.phone, 'Телефон') }}
                        {{ form_widget(form.account.phone, {'attr': {'class': 'form-control', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.Register, {'attr': {'class': 'btn btn-primary'}, 'label': 'Зарегистрироваться'}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 social-login">

            </div>
        </div>
    </div>
</div>
{% endblock %}