{% extends '::base.html.twig' %}
{% block title %}
    Проверка E-mail
{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Ошибка</h3>
                </div>
                <div class="panel-body">
                    Ошибка при активации учетной записи: <b> {{ error|trans({},'messages')|lower }}</b>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}