{% extends '::base.html.twig' %}
{% block title %}
    Проверка E-mail
{% endblock %}
{% block content %}
    <div class="container" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    Ваша учетная запись активирована.
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}