{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Подробнее о вакансии</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- Job Description -->
                    <div class="job-details-wrapper">
                        <h3>{{ vacancy.name }}</h3>
                        <p>
                            Мы выбираем только лучших специалистов, что бы оставаться лидирами отрасли
                        </p>
                        <h4>Требования</h4>
                        <div>{{ vacancy.requirement }}</div>
                        <h4>Желательно</h4>
                        <div>{{ vacancy.preferably }}</div>
                        <h4>Контакты для связи</h4>
                        <p>{{ vacancy.contacts }}</p>
                    </div>
                    <!-- End Job Description -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
