{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Вакансии</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Open Vacancies List -->
                <div class="col-md-8">
                    <table class="jobs-list">
                        <tr>
                            <th>Вакансия</th>
                            <th>Оклад</th>
                        </tr>
                        {% for vacancy in vacancies %}
                            <tr>
                                <!-- Position -->
                                <td class="job-position">
                                    <a href="{{ path('vacancy_detail', {'id': vacancy.id }) }}">{{ vacancy.name }}</a>
                                </td>
                                <!-- Job Type -->
                                <td class="job-type hidden-phone">{{ vacancy.salary }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- End Open Vacancies List -->
                <!-- Sidebar -->
                <div class="col-md-4 col-sm-6">
                    <div class="join-us-promo">
                        <!-- Quote -->
                        <div class="join-us-bubble">
                            <blockquote>
                                <p class="quote">
                                    Добро пожаловать в нашу команду!
                                </p>
                                <cite class="author-info">
                                    - HR-специалист
                                </cite>
                            </blockquote>
                            <div class="sprite arrow-speech-bubble"></div>
                        </div>
                        <!-- Team Member Photo -->
                        <div class="author-photo">
                            <img src="{{ asset('img/user2.jpg') }}" alt="Name Surname">
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
{% endblock %}