{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Сотрудники цеха</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div class="section">
        <div class="container">
            <div class="row">
                <ul>
                    {% for item in e %}
                        <li>{{ item.lastname }} {{ item.firstname }} {{ item.middlename }}</li>
                    {% else %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Информация</h3>
                            </div>
                            <div class="panel-body">
                                Нет сотрудников в данном подразделении
                            </div>
                        </div>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <!-- End Services -->
{% endblock %}