{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Цеха</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->
    <div class="section">
        <div class="container">
            <div class="row">
                {% for department in departments %}
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper">
                        <img src="{{ asset('img/service-icon/diamond.png') }}" alt="Department">
                        <h3>{{ department.name }}</h3>
                        <p>{{ department.address }}</p>
                        <a href="{{ path('department_detail', {'id': department.id }) }}" class="btn">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Services -->
{% endblock %}