{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Добавление вакансии</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="basic-login">
                    {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name, 'Заголовок') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.requirement) }}
                        {{ form_label(form.requirement, 'Требования') }}
                        {{ form_widget(form.requirement, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.preferably) }}
                        {{ form_label(form.preferably, 'Желательно') }}
                        {{ form_widget(form.preferably, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.salary) }}
                        {{ form_label(form.salary, 'Зарплата') }}
                        {{ form_widget(form.salary, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.contacts) }}
                        {{ form_label(form.contacts, 'Контакты') }}
                        {{ form_widget(form.contacts, {'attr': {'class': 'form-control input-md', 'id':''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary'}, 'label': 'Добавить'}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}