{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1 class="page-header">Вакансии</h1>
    <a href="{{ path('administration_vacancies_add') }}"><div class="btn btn-lg btn-primary btn-block">
            Добавить
        </div></a>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        {% for item in vacancies %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.publicationdate|date('d.m.Y H:i:s') }}</td>
                <td>{{ item.account.lastname }} {{ item.account.firstname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}