{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Записаться на прием к руководству</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                {% if error is defined %}
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ошибка</h3>
                        </div>
                        <div class="panel-body">
                            {{ error }}
                        </div>
                    </div>
                {% endif %}
                {% if success is defined %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Успешно!</h3>
                    </div>
                    <div class="panel-body">
                        Была создана заявка на прием к руководству. Заявке присвоен номер {{ CreatedId }}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}