{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Запрос документов</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="col-md-12">
                {% if CreatedId is defined %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Информация</h3>
                    </div>
                    <div class="panel-body">
                        Заявка на получение документов создана. Заявке присвоен номер {{  CreatedId }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="basic-login">
                        {{ form_start(form, {'class': 'form-horizontal', 'attr': {'style': 'display:block'}}) }}
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_errors(form.document) }}
                            {{ form_label(form.document, 'Наименование документа') }}
                            {{ form_widget(form.document, {'attr': {'class': 'form-control input-md', 'id':'doc'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.amount) }}
                            {{ form_label(form.amount, 'Количество копий') }}
                            {{ form_widget(form.amount, {'attr': {'class': 'form-control input-md', 'id':'amount'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary'}, 'label': 'Оставить заявку'}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}