{% extends 'base.html.twig' %}


{% block content %}
    <style>
        .fa-user:hover, .fa-file-text:hover{
            color: #2A6496;
            cursor: pointer;
        }

    </style>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Услуги</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-block" style="text-align: center;">
                    <div class="center-block"><h2>Записаться на прием к руководству</h2></div>
                    <a href="{{ path('direction') }}"><i class="fa fa-user" style="font-size: 20em;"></i></a>
                    <div><a href="{{ path('direction') }}" class="btn btn-primary">Записаться</a></div>
                </div>
                <div class="col-md-6 center-block" style="text-align: center;">
                    <div class="center-block"><h2>Запрос документов</h2></div>
                    <a href="{{ path('documents') }}"><i class="fa fa-file-text" style="font-size: 20em;"></i></a>
                    <div style="margin-top: 10px;"><a href="{{ path('documents') }}" class="btn btn-primary">Выбрать документы</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}