{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Blog Post -->
                <div class="col-sm-12">
                    <div class="blog-post blog-single-post">
                        <div class="single-post-title">
                            <h3>{{ news.title|raw }}</h3>
                        </div>
                        <div class="single-post-info">
                            <i class="glyphicon glyphicon-time"></i>{{ news.publicationdate|date('d.m.Y H:i:s') }}
                        </div>
                        <div class="single-post-content">
                            {{ news.text|raw  }}
                        </div>
                    </div>
                </div>
                <!-- End Blog Post -->
            </div>
        </div>
    </div>
{% endblock %}