{% extends 'base.html.twig' %}


{% block content %}
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Последние новости</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Latest News -->
                <div class="col-sm-8 latest-news">
                    {% for item in news %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="caption"><a href="{{ path('news_detail', {'id': item.id}) }}">{{ item.title|raw }}</a></div>
                                <div class="date">{{ item.publicationdate|date('d.m.Y H:i:s') }}</div>
                                <div class="intro">{{ item.text|striptags|truncate(50) }}<a href="{{ path('news_detail', {'id': item.id}) }}">
                                        Подробнее...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End Featured News -->
            </div>
        </div>
    </div>
{% endblock %}